/* stylelint-disable max-line-length */

/*
 * ⚠️ FONT LICENSING REQUIRED BEFORE GOING LIVE
 * Graphik XXCondensed Bold / Semibold / Regular — Commercial Type (proprietary; the source
 * site self-hosts its own licensed "App" cuts). USTA Sans Bold — USTA proprietary.
 * Self-hosted here for replica fidelity (stardust deploy Step 4, #80). Do not publish to
 * aem.live until the webfont / embedding licence is confirmed — see fonts/LICENSING.md
 * for the remove-and-fall-back path (delete the files + these rules; the stacks fall back to
 * the metric-matched faces declared in styles/styles.css).
 */
@font-face {
  font-family: 'Graphik XXCond Bold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/graphik-xxcond-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik Semibold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/graphik-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/graphik-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'USTA Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/usta-sans-bold.woff2') format('woff2');
}
